<a href="https://colab.research.google.com/github/roxasboss/TM-lyca-2018/blob/master/loto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import tensorflow as tf 
import pandas as pd
import os
from datetime import datetime, timedelta  
import time  
from collections import namedtuple  
import pandas as pd 
import requests  
import matplotlib.pyplot as plt  
import numpy as np

In [0]:
from google.colab import files
uploaded = files.upload()

In [0]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(name=fn, length=len(uploaded[fn])))

In [0]:
import pandas as pd
import io
df = pd.read_csv(io.StringIO(uploaded['Loto_NY_since2001.csv'].decode('utf-8')))

In [0]:
df.columns = ['Date', 'Numbers', 'Bonus','Extra']
#créer une collone pour chaque nombre : nombre 1, nombre 2,...
#créer une collone pour chaque nombre : nombre 1, nombre 2,...
#créer une collone pour chaque nombre : nombre 1, nombre 2,...
#créer une collone pour chaque nombre : nombre 1, nombre 2,...
df = df.drop(["Date"], axis=1)
df = df.drop(["Extra"], axis=1)

In [0]:
print(df)

In [0]:
s = pd.Series([['01','15','24','31','34','44']])
s1 = pd.Series(['1.0', '2', -3])
s.apply(pd.Series).stack().tolist()
print(s)
#créer une collone pour chaque nombre : nombre 1, nombre 2,...
#créer une collone pour chaque nombre : nombre 1, nombre 2,...
#créer une collone pour chaque nombre : nombre 1, nombre 2,...
#créer une collone pour chaque nombre : nombre 1, nombre 2,...

In [0]:
s = s.str.split(expand=True)
print(s)
#print(pd.to_numeric(s, errors='coerce'))
print(pd.to_numeric(s1, errors='coerce'))
#créer une collone pour chaque nombre : nombre 1, nombre 2,...
#créer une collone pour chaque nombre : nombre 1, nombre 2,...
#créer une collone pour chaque nombre : nombre 1, nombre 2,...

In [0]:
#on ne peut pas ultiser pd.to_numeric(transformer un objet en nombre flotant) avec des array
#on peut cependant séparer les arrays en colonnes puis pd.to_numeric et réassambler si on veut garder les array
df2= df["Numbers"].str.split(expand=True)
#df2.apply(pd.Series).stack().tolist()
#df2 =pd.to_numeric(df2, errors='coerce')
#print(np.array(df2[1]))
print(df2[1])
print(df2)

In [0]:
df2.columns = ["1er numéro", '2ème numéro', '3ème numéro','4ème numéro',"5ème numéro","6ème numéro"]

In [0]:
print(df2["1er numéro"][1])

In [0]:
df2 = df2.dropna()

In [0]:
print(df2)

In [0]:
df = df.drop(["Numbers"], axis=1)

In [0]:
df2.reset_index(drop=True, inplace=True)
df.reset_index(drop=True, inplace=True)

In [0]:
df3 = [df2, df]

In [0]:
print(df3)

In [0]:
#df3.reset_index(drop=True, inplace=True)
#df["Bonus"].reset_index(drop=True, inplace=True)

In [0]:
df3 = pd.concat(df3,axis=1)

In [0]:
df3.columns = ["1er numéro", '2ème numéro', '3ème numéro','4ème numéro',"5ème numéro","6ème numéro","Numéro bonus"]

In [0]:
df3.info()

In [0]:
#df3["1er numéro"] = pd.to_numeric(df3["1er numéro"], errors='coerce')
df3 = df3.apply(pd.to_numeric, errors="coerce")

In [0]:
df3 = df3.dropna()

In [0]:
print(df3)

In [0]:
print(df3["1er numéro"][0])

In [0]:
df = df.drop(["Extra #"], axis=1)
df.info()

In [0]:
features = [ "1er numéro", '2ème numéro', '3ème numéro','4ème numéro',"5ème numéro","6ème numéro","Numéro bonus"]

In [0]:
def derive_nth_day_feature(df, feature, N):
    rows = df.shape[0]
    nth_prior_measurements = [None]*N + [df[feature][i-N] for i in range(N, rows)]
    col_name = col_name = "{}_{}".format(feature, N)
    df[col_name] = nth_prior_measurements
for feature in features:
    if feature != 'Numéro bonus':
        for N in range(1,5):
            derive_nth_day_feature(df3, feature, N)

In [0]:
df3 = df3.dropna()

In [0]:
print(df3)

In [0]:
df4 = df3[["1er numéro", '2ème numéro', '3ème numéro','4ème numéro',"5ème numéro","6ème numéro","Numéro bonus"]]

In [0]:
ddf3 = df3.drop(["1er numéro", '2ème numéro', '3ème numéro','4ème numéro',"5ème numéro","6ème numéro","Numéro bonus"], axis=1)

In [0]:
X = df3[[col for col in df3.columns]]
y = df4

In [0]:
y.info()

In [0]:
X.info()

In [0]:
df.info()

In [0]:
df = df.apply(pd.to_numeric, errors="coerce")
df = df.dropna()

In [0]:
keep = ["boule_1","boule_2","boule_3","boule_4","boule_5"]
to_keep = [col for col in df.columns if col in keep]

df = df[to_keep]

In [0]:
df = df.drop(["Draw Date"], axis=1)

In [0]:
keep = ["Winning Numbers","Bonus #"]
not_keep = ["Winning Numbers", "Bonus #"]
X = df[[col for col in df.columns if col not in not_keep ]]
y = df[keep]
X = X.values
y = y.values

In [0]:
for i in df["Winning Numbers"]:
  t = 0
  np.array(df["Winning Numbers"][t])
  t += 1

In [0]:
print(X)

In [0]:
y = df
df3 = [df2, df["Bonus"]]
df3 = pd.concat(df3)

In [0]:
import keras
import numpy as np
from keras.models import Sequential
import keras.callbacks as cb
from keras.datasets import mnist

from keras.layers import Dense, Dropout,Activation
from keras.optimizers import RMSprop
from IPython.display import SVG
from keras.utils.vis_utils import model_to_dot

import tensorflow as tf

In [0]:
from sklearn.metrics import explained_variance_score,mean_absolute_error,median_absolute_error
from sklearn.model_selection import train_test_split  

class LossHistory(cb.Callback):
    def on_train_begin(self, logs={}):
        self.losses = []

    def on_batch_end(self, batch, logs={}):
        batch_loss = logs.get('loss')
        self.losses.append(batch_loss)

        
        
history = LossHistory()
X_train, X_tmp, y_train, y_tmp = train_test_split(X, y, test_size=0.2, random_state=23)
X_test, X_val, y_test, y_val = train_test_split(X_tmp, y_tmp, test_size=0.5, random_state=23)

X_train.shape, X_test.shape, X_val.shape  
print("Training instances   {}, Training features   {}".format(X_train.shape[0], X_train.shape[1]))  
print("Validation instances {}, Validation features {}".format(X_val.shape[0], X_val.shape[1]))  
print("Testing instances    {}, Testing features    {}".format(X_test.shape[0], X_test.shape[1]))

In [0]:
#soit un réseau de neurone pour chaque nombre soit array en output en réassablant les colones(merge)
model = Sequential()


model.add(Dense(10,kernel_initializer='normal',activation = "relu",input_dim=24))
#model.add(Dense(64, kernel_initializer='normal',activation="relu"))
#model.add(Dense(10,kernel_initializer='normal',activation = "relu"))
#model.add(Dense(10, kernel_initializer='normal',activation="relu"))
model.add(Dense(7, kernel_initializer='normal',activation="linear"))
model.compile(optimizer='adagrad',loss='MAE', metrics=['accuracy'])
model.summary()

In [0]:
history = model.fit(X_train,y_train,batch_size =64, epochs =100, verbose =2 , validation_data=(X_test, y_test))

In [0]:
import matplotlib.pyplot as plt



plt.plot(history.history['loss'])

plt.title('model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train'], loc='upper left')
plt.show()

In [0]:
print(X_val)

In [0]:
model.predict(X_val,steps = 1)

In [0]:
print(y_val)

In [0]:
prediction = model.predict(X_val,steps = 1)
mean_error = abs((y_val-prediction))
print("mean absolute error: ")
print(mean_error.mean())
print("median: ")
#print(median_absolute_error(y_val, prediction))